<p id="notice"><%= notice %></p>

<h1>Api Cursos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_cursos.each do |api_curso| %>
      <tr>
        <td><%= link_to 'Show', api_curso %></td>
        <td><%= link_to 'Edit', edit_api_curso_path(api_curso) %></td>
        <td><%= link_to 'Destroy', api_curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Curso', new_api_curso_path %>
