<p id="notice"><%= notice %></p>

<h1>Api Profesors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_profesors.each do |api_profesor| %>
      <tr>
        <td><%= link_to 'Show', api_profesor %></td>
        <td><%= link_to 'Edit', edit_api_profesor_path(api_profesor) %></td>
        <td><%= link_to 'Destroy', api_profesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Profesor', new_api_profesor_path %>
